.content {
    margin: 0 auto;
}
/* .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
} */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.table-container {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}
table {
    width: 100%;    
    border-collapse: collapse;
}
th, td {
    padding: 12px 15px;
    text-align: left;
}
th {
    background-color: #f5f5f5;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.actions {
    display: flex;
    gap: 10px;
    width: 1px;
}
.actions a {
    color: inherit;
    text-decoration: none;
}
.actions i {
    cursor: pointer;
}
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
}
.search-container input {
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.pagination {
    padding: 10px 15px;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
}

.buttons{
    text-decoration: none; 
 }

.patient-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.patient-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #e3e6f0;
}
.patient-list li:first-child {
    border-top: none;
}
.patient-info {
    display: flex;
    flex-direction: column;
}