.sidebar {
    position: relative; /* Ensure sidebar takes up full height */
    height: auto; /* Full viewport height */
    width: 300px; /* Sidebar width */
    background-color: #fff;
    color: white;
    display: flex;
    flex-direction: column;
  }


.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    padding: 10px 20px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.sidebar ul li:hover {
    background-color: #CEEBE7;
    color: gray;
}
.sidebar .non-clickable {
    padding: 10px 20px;
    color: #333;
    font-weight: bold;
    background-color: #f8f9fa;
}


.sidebar-btn {
    width: 100%;
    padding: 12px 16px;
    text-align: left;
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }

/* .sidebar-btn {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
} */

.sidebar-btn i {
    margin-right: 10px;
  }

/* .sidebar-btn i {
    margin-right: 10px;
    font-size: 18px;
} */

.sidebar-btn:hover {
    background-color: #CEEBE7;
    color: gray;
}

.sidebar-btn:focus {
    outline: none;
}

.buttons{
    text-decoration: none; 
 }
 .sidebar .bottom-section {
  display: flex;
  flex-direction: column;     
   background-color: #f8f9fa;

 }

 .sidebar .growgap{
    flex-grow: 1;
 }

  
  .non-clickable {
    padding: 12px 16px;
    font-size: 16px;
    color: #bdc3c7;
    font-weight: bold;
  }
  
  .growgap {
    flex-grow: 1; /* This makes the space between the sections grow, pushing the bottom section down */
  }
  
  .bottom-section {
    position: absolute;
    bottom: 0; /* Fix the bottom section to the bottom of the sidebar */
    width: 100%; /* Full width of sidebar */
    background-color: #34495e;
  }
  
  .bottom-section li {
    padding: 10px 16px;
  }
  
  .bottom-section .sidebar-btn {
    width: 100%;
    text-align: left;
  }




  